.user_page {
    /* height: 85vh; */
    min-height: 100vh;
}

.user_page_accordion {
    border-radius: 10px !important;
    color: black !important;
    margin-bottom: 1.5em;
}

.user_page_accordion_item {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5em 3em;
    background-color: rgb(204, 204, 204);
}